body {
    background-color: #F9CF00;
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
}

#numberInputs {
    padding: 20px;
}

h1 {
    color: #014e66;
    font-size: 40px;
}

textarea[type=text] {
/*    background-image: url('https://78.media.tumblr.com/d18184d9f69eeff34cce9746b2838dd2/tumblr_nkzjqntHIg1u9ix69o1_500.gif');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D9D9D9;
}

input[type=number] {
    background-color: #D9D9D9;
    width: 30px;
    margin-left: 10px;
}


#submitButton {
    width: 200px;
    height: 40px;
    background-color: #014e66;
    color: white;
    margin: 10px;
    
}

#poemDisplay {
    font-size: 25px;
}
